
.div1{
position: relative;
    left:30%;
    width: 35%;
    height:800px;
text-align: center;
    border: dotted gray;
    border-left:4px solid black;
    background-image: url("images/princ.jpg");
    background-attachment: initial;
    background-size: 1200px;
    margin: 20px;
}
.div2{
    background-color: rgba(128,116,69,0.1);
    height:800px;
width: 35%;
    float:left;
    border: 1px solid black ;
    position: relative;
    padding:20px;
    left:10%;
    border-left:double 10px gray;
    box-shadow: 15px 2px 7px -3px #887;
}
.div3 {
    background-color: rgba(128,116,69,0.1);
    width: 35%;
    left:10%;
    border: 1px solid black ;
    border-left:3px solid black;
    border-right: double 10px gray;
position: relative;
    padding:20px;
    float:left;
    height: 800px;
}
.div33{
    width:30%;
    margin:10px;
    float:left;
}
.div4{

}
h1{
    text-align: center;
font-size: 5em;
    font-family: "Bookman Old Style";
}
h3{
    text-align: center;
    color: midnightblue;
}
h4{
    color: #0253ff;
}
h5{
    text-align: center;
}
p{
    font-family: Constantia;
    letter-spacing: 3px;
}