.bar {
margin-left: -50px;
margin-top: -25px;
margin-right: -15px;
    font-size: 25px;
    position:relative;

}

.bar a {
text-decoration: none;
    color: white;
    background: #000132;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bar a:hover {
    background: #ffa600;
}

.bar ul {
    list-style: none;
    display: flex;
}

.bar li {
    width: 100%;
    text-align: center;
    position: relative;
}

.bar li:hover .sub > li {
    display: block;


}

.sub {
    position: absolute;
margin-left: -40px;
    flex-direction: column;
width: 100%;
}

.sub li {

    display: none;
    position:relative;
}
.main {
    width:84%;
    margin-left:8%;
    padding:0;
}
.maintext{
    width: 40%;
    font-size: 2em;
    float: left;
    padding:20px;
}
.mainimg{
    float: left;
    width: 43%;
}
footer{
    width: 101%;
    float: left;
    position: initial;
    margin-left: -10px;
    margin-right: -20px;
    margin-bottom: -10px;
    color: white;
    background-color: #00071f;
    margin-top:100px ;
    border: 1px solid black;
    height: auto;
}
.inst{
    width: 40%;
    margin-left: 42%;
}
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 1000%;
    background-color: #555;
    color: #fff;

    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 0%;
    left: -410%;
    margin-left: -80px;
}

.popup .popuptext::after {
    content: "";
    position: relative;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
.image{

    position: relative;
}