table{
    text-align: left;
    margin-top:10px;
    border: 1px solid black;

    width: 80%;
    margin-left: 10%;
}
tr, td{
    padding:10px;
    border: 1px solid black;
}
thead{
font-size: 2em;
    color:white;
    background-color: #060f3b;
}
