
.circle1{
    background: #ec1720;
    border-radius: 50%;
    color: #fff;
    display: block;
    height: 0;
    overflow: hidden;
    padding-top: 100%;
    position: relative;
    width: 100%;
    opacity: 0.6;
    text-decoration: none !important;
    overflow: hidden;
}
.circle2{
    background: #29ec00;
    border-radius: 50%;
    color: #fff;
    display: block;
    height: 0;
    overflow: hidden;
    padding-top: 100%;
    position: relative;
    width: 100%;
    opacity: 0.6;
    text-decoration: none !important;
    overflow: hidden;
}
.circle3 {
    background: #00ece6;
    border-radius: 50%;
    color: #fff;
    display: block;
    height: 0;
    overflow: hidden;
    padding-top: 100%;
    position: relative;
    width: 100%;
    opacity: 0.6;
    text-decoration: none !important;
    overflow: hidden;
}
.circle4 {
    background: #ec00d6;
    border-radius: 50%;
    color: #fff;
    display: block;
    height: 0;
    overflow: hidden;
    padding-top: 100%;
    position: relative;
    width: 100%;
    opacity: 0.6;
    text-decoration: none !important;
    overflow: hidden;
}
.container1 {
overflow: hidden;
    text-decoration: none !important;
    margin: 70px;
position: absolute;
   width: 10%;
    z-index: -1;
}
.container2 {
    overflow: hidden;
    text-decoration: none !important;
    margin: 150px;
    position: absolute;
    left: 300px;
    width: 18%;
    z-index: -1;
}
.container3 {
    overflow: hidden;
    text-decoration: none !important;
    margin: 150px;
    position: absolute;
    left: 1100px;
    width: 14%;
    z-index: -1;
}
.container4 {
    overflow: hidden;
    text-decoration: none !important;
    margin: 150px;
    position: absolute;
    left: 700px;
    width: 18%;
    z-index: -1;
}
.container5 {
    overflow: hidden;
    text-decoration: none !important;
    margin: 50px;
    top:0px;
    position: absolute;
    left: 250px;
    width: 17%;
    z-index: -1;
}
.container6 {
    overflow: hidden;
    text-decoration: none !important;
    margin: 50px;
    top:0px;
    position: absolute;
    left: 700px;
    width: 19%;
    z-index: -1;
}
.container7 {
    overflow: hidden;
    text-decoration: none !important;
    margin: 50px;
    top:280px;
    position: absolute;
    left: 90px;
    width: 13%;
    z-index: -1;
}
.container8 {
    overflow: hidden;
    text-decoration: none !important;
    margin: 50px;
    top:180px;
    position: absolute;
    left: 1050px;
    width: 21%;
    z-index: -1;
}
.container9 {
    overflow: hidden;
    text-decoration: none !important;
    margin: 50px;
    top:240px;
    position: absolute;
    left: 500px;
    width: 20%;
    z-index: -1;
}
.container10 {
    overflow: hidden;
    text-decoration: none !important;
    margin: 50px;
    top:240px;
    position: absolute;
    left: 180px;
    width: 16%;
    z-index: -1;
}
.container11{
    overflow: hidden;
    text-decoration: none !important;
    margin: 50px;
    top:8px;
    position: absolute;
    left: 1120px;
    width: 13%;
    z-index: -1;
}
.circle {

    background: #456BD9;
    border-radius: 50%;
    color: #fff;
    display: block;
    height: 0;
    overflow: hidden;
    padding-top: 100%;
    position: relative;
    width: 100%;
}


.circle-content {
    align-items: center;
    font-size: 2em;
    display: flex;
    height: 100%;
    hyphens: auto;
    justify-content: center;
    left: 50%;
    padding: 0.8em;
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
    top: 50%;
    width: 100%;
}
.circle a{
    color:white;
}
.circle a:link {
    text-decoration: none;
}
.circle a:hover{
    text-decoration: underline;
    font-size: 3em;
    color:#FFA100
}
.container {
    opacity: 0.8;
    z-index: 1;
    margin-top: 10%;
    margin-left:14%;
    float: left;
    max-width: 42vmin;
    width: 40%;
}
ul {  margin: -10px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    list-style-type: none;

    overflow: hidden;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(29,43,145,0.7794468129048494) 46%, rgba(0,212,255,1) 100%);
}
li {
    float: left;
    letter-spacing: 10px;
    font-size: 2em;
    width: 100%;

}
li a {
    font-family: "Droid Sans";
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
  background-color: #5656d0;
}
.olke{
    margin: 30px;
    padding: 30px;
    text-align: center;
    width: 28%;
border: 1px solid black;
    background-color: #e3f6ff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 10px;

}
.student{
    position: absolute;
    left: 33%;
    margin: 30px;
    padding: 40px;
    text-align: center;
    width: 25%;
    border: 1px solid black;
    background-color: #e3f6ff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.flex31{

    border:1px solid black;
    position:absolute;
    left:30%;
    width:35%;
    height:660px;
    background-color: #9179ff;

}
.parent{
    position: absolute;
    left: 66%;
    margin: 30px;
    padding: 40px;
    text-align: center;
    width: 25%;
    border: 1px solid black;
    background-color: #e3f6ff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}


