h1 {
    color: #fff1b0;
    box-sizing: border-box;
    font-size: 3em;
    font-family: Bahnschrift;
    text-align: center;
    border: 1px dotted green;
    background-color: #757277;
    border-color: #343432;
opacity: 0.7;
}
body{
    background-image:url("images/back.jpg");
    background-repeat:no-repeat;
    background-size: cover;
}
img{
    width:20%;
    height:20%;
border: 5px double #fff1b0 ;
    background-color: #ff7c68;
    opacity:0.85;
}
p.p0{
text-align: center;
    background-color:aquamarine;
    margin:30px;
    padding:10px;
}
p.p1{
    font-family: "Times New Roman";
    font-style: italic;
    text-align: center;

}
p.p2{
    font-family: Algerian;
    font-weight: bold;
text-align: center;

}
p.p3{
    font-family: "Arial Narrow";
    text-decoration: underline;
text-align: center;
}
h2{text-align: center;
    color:white;
}
h3{
    background-color: blanchedalmond;
    border: 1px solid black;
text-indent: 1.5em;
}
li{
    list-style: none;
    color:white;
}
.space{
    letter-spacing: 5px;
    word-spacing: 10px;
}
.capital{
    text-transform: capitalize;
}
.lower{
    text-transform: lowercase;
}
.upper{
    text-transform: uppercase;
}
.line{
    line-height: 10;
}
.shadow{
    text-shadow: 5px 5px 0 black;
}