.div85{
background-color: #1a0a88;
    width: 100%;
}
.awards{
background-color: #d3d7dc;
    width: 100%;
}
.main{

}
.p-2 flex-fill bd-highlight{
   margin: 100px;
}
#navbar{
    overflow: hidden;
    background-color: #535557;
}
#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
#navbar a:hover{
    color: #5c5caf;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.zag{
    margin-top: 30px;
    margin-bottom:60px ;
    float: left;
    width: 100%;
    text-align: center;
    color: white;
    background-color: #ccd1d6;
}
.div1{
    width:40%;
    margin-left:150px;
    margin-top: 100px;
}
.div2{
    width:10%;
    margin-left:125px;

}
hr{
    border: 2px solid black;
    width: 100px;

}
.div3{
    width:20%;
    float: left;
    margin-left: 150px;

}
.div31{
    margin-bottom: 5px;
    border: 2px solid black;
    width: 95%;
    height: 50px;
    justify-content: center;
    text-align: center;
}
.div31:hover{
    background-color: black;
    color: white;
    margin-bottom: 5px;
    border: 2px solid black;
    width: 95%;
    height: 50px;
    justify-content: center;
    text-align: center;
}
.div4{
    margin-left: 27%;
    position: absolute;
    left:30%;
    float: left;
    width: 30%;
}
.hr1{
    border: 1.5px solid black;
    width:15%;

}
td{
    padding: 25px;
}
tr{
    padding: 15px;
    margin-left: 15px;
    border-bottom: 2px solid black;
}
.div32 img{
    background-color: #030306;
    opacity: 0.5;
}
.div32 img:hover{
    opacity: 1;
    background-color: white;
}
