body {
    background-image: url(https://mojeubuntu.home.pl/wschodmisje/wp-content/uploads/2017/09/expo_astana_2017.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110vw;
}
p {
    position: absolute;
    bottom: 0;
    font-size: 1.5vw;
}
#row2b
{
    text-align:right;
}
#row2b > p
{
    position: relative;
    font-size: 6vw;
}

body
{
    color: white;
}

.grid {
    display: grid;
    grid-gap: 1vw;
    grid-template-rows: 3vw;
    grid-auto-rows: 8vw;
    grid-template-columns: 0.5fr repeat(6, 3fr) 0.5fr;
}

.grid > div {
    position: relative;
    outline-color:#124559;
    outline-width: 1vw;
    outline-style: solid;
    background-color: #124559;
}
#row1a, #row2a, #row3a, #row3b, #row4a, #row5a, #row5b, #row11, #row12 {
    background-color:rgba(0,0,0,0.3);
}
#row1a, #row5a {
    grid-column-end: span 3;
}
#row1b, #row2b, #row3b, #row5c {
    grid-column-end: span 2;
}
#row2b {
    grid-row-end: span 2;
}
#row11, #row12 {
    grid-row-end: span 5;
}