.flex1{
    display: flex ;
    position:absolute;
    left:25%;
    width:50%;
    height:450px;
    border: 5px solid lightpink;
    flex-flow: column;

}
.flex-item1{
    height:100px;
    border:5px solid cornflowerblue;
    width: 90%;
    margin-top:30px;
    margin-left:30px;
    margin-right:30px
}

.flex-item2{
    height:100px;
    border:5px solid cornflowerblue;
    width: 90%;
    margin-top:30px;
    margin-rigth:30px;
    margin-left:30px;
}

.flex-item3{
    height:100px;
    border:5px solid cornflowerblue;
    width: 90%;
    margin:30px;

}
.div1{
    float:left;
}
.div2{
    float:right;
}
h3,a{
    color: #c6ccff;
    font-size: 1.3em;
    font-family: "Comic Sans MS";
}
.flex21{
    display:flex;
    position: absolute;
    width:18%;
    height:450px;
    background-color: #060f3b;
    flex-flow:column;
    flex-basis: border-box;
justify-content: space-between;
}
.flex-item21{
    text-align: center;
    height:60px;
    border:2px solid lawngreen;
align-items: center;
}
.flex-item21:hover{
    background-color: #2e3649;
}

.flex-item22{
    text-align: center;
    height:60px;
    border:2px solid lawngreen;
    align-items: center;

}
.flex-item22:hover{
    background-color: #2e3649;
}

.flex-item23{
    text-align: center;
    height:60px;
    border:2px solid lawngreen;
    align-items: center;
}
.flex-item23:hover{
    background-color: #2e3649;

}
.flex31{
    display: flex ;
    border:1px solid black;
    position:absolute;
    left:30%;
    width:35%;
    height:660px;
    background-color: #9179ff;
    flex-flow: column;
}
.fl{text-align: center;
    color:white;
width:100%;
    font-family: "Arial Rounded MT Bold";
    font-size: 1.2em;
}
.flex-item31{
    width:100%;
    text-align: center;
}


