  .div1{
margin:5px;
    width: 5.5%;
    float: left;
}
.div2{
    margin:5px;
    float: left;
}
  .div3{
      margin:6px;
      width: 20%;
      float: left;
      line-height: 20px;
  }
  .fieldset1{
     width: 45%;
  }
  .legend1{
      font-size: 1.8em;
  }
